<div style="height:580px;padding-top:0px;margin-top:0px;">
<div id="impress">
  <div class="step slide" data-x="-14000" data-y="-4500" data-z="0" data-scale="4" data-rotate="0">
    <p class="slideheader">Team 8: BALL-E.</p>
    <p class="marketing-byline">SDP Final Presentation.</p>
    <center>
    <%=image_tag("small-tiltshift.jpg", style: "opacity:.9;height:450px;padding-top:40px;padding-bottom:20px;")%>
    <br>
    Proceed with right arrow key.
  </center>
  </div> 
  <div class="step slide" data-x="-8000" data-y="-4500" data-z="0" data-scale="2" data-rotate="180">
    <p class="slideheader"> An overview of <b>BALL-E</b>'s design.</p>
    <p class="marketing-byline">Out of several parts, a whole is born.</p>
    <center style="">
    <%=image_tag("overview.jpg", style: "opacity:.9;height:400px;padding-top:40px;padding-bottom:100px;")%>
    </center>
  </div>
<div class="step slide" data-x="-2000" data-y="-4500" data-z="0">
    <p class="slideheader" style="padding-top:100px;"> Evolution of <b>BALL-E</b>'s appearance...</p>
    <p class="marketing-byline">The first step to winning is to look like a winner.</p>
  </div>
  <div class="step slide" data-x="-500" data-y="-500" data-z="0" data-scale="4" data-rotate="90">
    <p class="slideheader"> <b>BALL-E</b> was once small and timid, a mere shell.</p>
    <p class="marketing-byline">Every champion has to start somewhere.</p>
    <br>
    <center>
    <%=image_tag("ball1.jpg", style: "opacity:.9;height:400px;padding-top:40px;")%>
    </center>
  </div>
  <div class="step slide" data-x="-4500" data-y="-1000" data-z="0">
   <p class="slideheader"> We fed him plastic pieces until he was sturdier.</p>
    <p class="marketing-byline">"Does my <i>kicker</i> look big in this?"</p>
    <br>
    <center>
    <%=image_tag("ball2.jpg", style: "opacity:.9;height:400px;padding-top:40px;")%>
    </center>
  </div><div class="step slide" data-x="-4500" data-y="2000" data-z="0" data-scale="2" data-rotate="90">
  <p class="slideheader"> However...<br>
  More space was needed to fit the new kicker.</p>
    <p class="marketing-byline">FACT: Looking like a tank is an aesthetic design choice.</p>
    <br>
    <center>
    <%=image_tag("ball3.jpg", style: "opacity:.9;height:400px;padding-top:40px;")%>
    </center>
    </div>
    <div class="step slide" data-x="-12500" data-y="1000" data-z="0" data-scale="2" data-rotate="180">
  <p class="slideheader" style="padding-top:100px;">Speaking of the kicker...</p>
  <p class="marketing-byline">Now <b>BALL-E</b> has a sting in his front-tail!</p>
  <center>
    <%=image_tag("kicker.png", style: "opacity:.9;height:500px;padding-top:40px;")%>
  </center></div> 
  
  
<div class="step slide" data-x="-15500" data-y="1000" data-z="0" data-scale="2" data-rotate="90">
  <p class="slideheader" style="padding-top:100px;">Advantages of the crossbow kicker design.</p>
  <p class="marketing-byline">If it requires reinforced LEGO pieces it must be doing something right!</p>
  <center>
  <ul class="slidelist">
    <li class="listitem">We are able to exert much more force than a traditional levered kicker.</li>
      <li class="listitem">We can shoot from anywhere on the pitch towards the goal.</li>
      <li class="listitem">A fast moving ball is harder for the opposition to intercept.</li>
    </ul>
 </center></div> 
  
  
<div class="step slide" data-x="-18500" data-y="1000" data-z="0" data-scale="3" data-rotate="180">
  <p class="slideheader">Time for an eye-test.</p>
  <p class="marketing-byline">"And if I cover this eye, is it better or worse?"</p>
  <center>
    <ul class="slidelist">
      <li class="listitem"> In order to ensure that our vision system performed correctly, we devised a method for testing the accuracy of the vision system reliably. This allowed regression testing each time a new heuristic or technique was introduced.</li>
      <li class="listitem"> An entire game could be captured as a series of images which were tagged with position data by a user, the vision system could then be fed these images, the response would be compared against the human annotation.</li>
    </ul>
    <%=image_tag("perform.jpg", style: "opacity:.9;height:400px;padding-top:0px;")%>
  </center>
  </div> 
  
 <div class="step slide" data-x="-18500" data-y="4000" data-z="0" data-scale="2" data-rotate="270">
  <p class="slideheader" style="padding-top:100px;">Next we taught him how to think.</p>
  <p class="marketing-byline">"It is not the spoon that bends, it is only yourself..."</p>
</div> 
  
 <div class="step slide" data-x="-21500" data-y="4000"data-z="0" data-scale="2" data-rotate="270">
  <p class="slideheader">Seeing into the future.</p>
  <p class="marketing-byline">Palm reading is not included in quoted price.</p>
  <center>
    <ul class="slidelist">
      <li class="listitem"> Our simulator is ran in <i>live mode</i> to predict 200ms into the future during a match</li>
      <li class="listitem"><%=image_tag("prediction.jpg", style: "opacity:.9;height:300px;padding-top:-20px;")%></li>
      <li class="listitem"> This fixes the delay issues cause by the camera and allows <b>BALL-E</b> to go faster.</li>
    </ul>
  </center>
</div> 
   
<div class="step slide" data-x="-23500" data-y="4000" data-z="0" data-scale="1" data-rotate="180">
  <p class="slideheader" style="">How <b>BALL-E</b> sees the world in his head.</p>
  <p class="marketing-byline">No, we didn't slip him hallucinogens before matches.</p>
  <center>
    <%=image_tag("3pitch.png", style: "opacity:.9;height:380px;padding-top:20px;padding-bottom:-40px;")%>
    <ul class="slidelist">
      <li class="listitem"><b>BALL-E</b> sees threes pitches, allowing it to simulate trajectory of reflected ball.</li>
      <li class="listitem">Chases an optimal point behind ball to always face the enemy goal when kicking.</li>
    </ul>
  </center>
  </div>
  
  <div class="step slide" data-x="-25500" data-y="4000" data-z="0" data-scale="1" data-rotate="360">
  <p class="slideheader" style="padding-top:100px;">Training Neural Networks with Genetic Algorithms.</p>
  <p class="marketing-byline">What happened when we asked <b>BALL-E</b> to think for himself.</p>
  <center>
    <ul class="slidelist">
      <li class="listitem">Why code behaviour when you can teach the robot?</li>
      <li class="listitem">Neural networks on their own were not sufficient.</li>
      <li class="listitem">Using Genetic Algorithms, the robot can train itself.</li>
      <li class="listitem">Stop training when the robot becomes self-away and bored of playing football.</li>
    </ul>
  </center>
</div> 
  
<div class="step slide" data-x="-31500" data-y="4000" data-z="0" data-scale="2" data-rotate="360">
  <center>
    <%=image_tag("nn1.jpg", style: "opacity:.9;height:380px;padding-top:100px;padding-bottom:-40px;")%>
  </center>
</div> 
  
<div class="step slide" data-x="-35500" data-y="4000" data-z="0" data-scale="1" data-rotate="360">
  <center>
    <%=image_tag("nn2.jpg", style: "opacity:.9;height:380px;padding-top:100px;padding-bottom:-40px;")%>
  </center>
</div> 
  
 
  <div class="step slide" data-x="-37500" data-y="4500" data-z="0" data-rotate="90">
    <p class="slideheader" style="padding-top:100px;">Summary</p>
    <p class="marketing-byline">What was just said in-case you were asleep.</p>
    <center>
    <ul class="slidelist">
      <li class="listitem">Solid robot design.</li>
      <li class="listitem">Innovative kicker.</li>
      <li class="listitem">Reliable vision system.</li>
      <li class="listitem">Unique application of machine learning.</li>
    <p class="marketing-byline" style="padding-top:40px;">Any questions?</p>
  </ul>
</center>
  </div> 
</div>  
<script src="http://bartaz.github.com/impress.js/js/impress.js"></script>
<script>impress().init();</script>
</div>
