<div class="center hero-unit"style="background-color:transparent;">
  <h1>Group 8 SDP 2012</h1>
  <h2>Tales of <%=link_to "BALL-E", 'aboutrobot'%> and his sphere-directing exploits.</h2>
  <p class="padded-intro-text"> This website serves to present data about <b>BALL-E</b> the robot.
  <br>
  <b>Data is presented in the form of an HTML5 presentation, it should work on all recent browsers.</b></p>
  <%= link_to "Start Presentation!", 'slides', class: "btn btn-large btn-primary" %>
</div>
<hr class="soften">
<div id="text-wrapper" class="row" style="height:210px;">
  <div id="sp1" class="span4">
    <%=image_tag("glyphicons_241_flash.png", class: "bs-icon")%>
    <h2>A powerful kicker</h2>
      <p>BALL-E uses a unique stored-energy kicking system, inspired by -TODO: link-. With unmatched power, BALL-E is able to score from anywhere on the pitch. If it requires reinforced LEGO pieces to remain functional, it must be doing something right.</p>
      
      <p><a class="btn" href="details/kicker">View details &raquo;</a></p>
  </div>
<div id="sp2" class="span4">
    <%=image_tag("glyphicons_239_riflescope.png", class: "bs-icon")%>
    <h2>Flawless vision</h2>
      <p>Not satisfied with blindly trusting our custom designed vision system used to accurately track the state of play, a vision testing system was developed so that we could pinpoint any issues with precise metrics. We are content that BALL-E will not miss a frame of action. </p>
      <p><a class="btn" href="#">View details &raquo;</a></p>
  </div>
<div id="sp3" class="span4">
    <%=image_tag("glyphicons_064_lightbulb.png", class: "bs-icon")%>
    <h2>Intelligent moves</h2>
    <p>With such a sturdy robot you are forgiven for thinking BALL-E would be sluggish. However thanks to efficient movement algorithms, we are able to swiftly move to the position that we will need to be in order to score a goal, even predicting positions from the future.</p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
  </div>
</div>
<div style="clear:both;"></div><br>
<hr class="soften">
<p class="marketing-byline"> "BALL-E is a pioneer in the industry of robo-football." ~ Anonymous</h2>
<div style="float:right;text-align:right;">
  <%=link_to "Website source on Bitbucket.", 'https://bitbucket.org/cronin101/sdp-rails/'%> <%=link_to image_tag("rails.png", style: "height:50px;padding-top:10px;padding-bottom:20px;padding-left:10px;", alt: "Rails"), 'https://bitbucket.org/cronin101/sdp-rails/' %></div> 
