@import "bootstrap";

/* universal styles */

html {
  background-image: url('http://include.cat/img/irongrip.png');
  overflow-y: scroll;
}

h1{
  text-shadow: #fff 1px 1px 0px;
}

h2 {
  text-shadow: #fff 1px 1px 0px;
}

body {
  width:1152px;
  border-radius:10px;
  margin:auto;
  padding-top: 60px;
  background-image: url('http://include.cat/img/grid-18px-masked.png');
  background-repeat: repeat-x;
  background-position: 0 40px;
}

section {
  overflow: auto;
}

textarea {
  resize: auto;
}

p.padded-intro-text {
  margin-top:20px;
  margin-bottom:20px;
  font-size:110%;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.bs-icon{
  float:left;
  opacity: .6;
  margin: 7px 10px 0 0;
}

.marketing-byline {
  margin: -18px 0 27px;
  font-size: 18px;
  letter-spacing:3px;
  margin-top: 10px;
  margin-bottom: -10px;
  font-weight: 300;
  line-height: 24px;
  color: #999;
  text-align: center;
}

.slide {
  width:1024px;
  height:580px;
  padding: 5px;
}

.slideheader{
  font-size:300%;
  text-align:center;
  line-height:1em;
  padding-bottom:10px;
}

.slidelist{
  padding-top:40px;
  list-style-type: none;
}

.listitem{
  padding:15px;
  font-size:130%;
}
