<div style="height:580px; padding:0px;margin:0px;">
<div class="step slide">
  <center>
  <p class="slideheader" style="padding-top:100px;">Kicker statistics.</p>
  <ul class="slidelist">
    <li class="listitem">Speed of ball when kicked: 60cm/s</li>
    <li class="listitem">Time taken to return to kicking state: Less than one second.</li>
    <li class="listitem">Stronger than most teams kickers.</li>
  </ul>
  </center>
</div>
</div>
