<!DOCTYPE html>
<html>
<head>
  <title>BALL-E The Robot</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    $(document).ready(function() 
    {
      // fade in content.
      $( '#content-wrapper' ).hide().fadeIn("slow");
      $( '#text-wrapper' ).hide().delay(500).slideDown("slow");
      $( '#sp1' ).hide().delay(1000).fadeIn("slow");
      $( '#sp2' ).hide().delay(1500).fadeIn("slow");
      $( '#sp3' ).hide().delay(2000).fadeIn("slow");
    });
  </script>
</head>
<body id="content-wrapper">
  <header class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <h3 style="padding-top:6px;float:left;">
          OFFICIAL BALL-E FANSITE 
        </h3>
        <nav>
          <ul class="nav pull-right">
            <li><%= link_to "Home",    'http://include.cat:7272' %></li>
            <li><%= link_to "About",    'http://include.cat:7272/aboutrobot' %></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
<div class="container">
<%= yield %>
</div>
</body>
</html>
